html {
    height: 100%;
}
body {
    margin: 0;
    background: rgb(0,112,255);
    background: linear-gradient(0deg, rgba(0,112,255,1) 0%, rgba(23,131,223,1) 35%, rgba(89,232,185,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
    padding: 20px;

}
#windowContainer {
    background-color: rgb(255, 255, 255);
    width: 450px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 15px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 1px #444444;
}

#titleContainer {
    text-align: center;
    width: 100%;
    margin: auto;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}

#inputContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
#toDoTaskContainer {
    background-color: rgb(233, 233, 233);
    width: 85%;
    margin: auto;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    border-radius: 3px;
    transition: 0.2s;
}
#toDoTaskContainer:hover {
    background-color: rgb(212, 212, 212);
    transition: 0.2s;
}
#toDoTaskTitle {
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
#toDoInput {
    font-family: 'Dosis', sans-serif;
    width: 70%;
    height: 30px;
    text-align: left;
    text-indent: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}
#toDoInput::placeholder {
    font-size: 20px;
    font-weight: bold;
    color:rgb(230, 230, 230);
}
#submitBtn {
    margin-left: 10px;
    margin-top: -7px;
    height: 35px;
    width: 35px;
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: rgb(119, 156, 255);
    border: 1px solid rgb(105, 144, 252);
    border-radius: 2px;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
#submitBtn:hover {
    background-color: rgb(129, 162, 252);
}
#submitBtn:active {
    background-color: rgb(107, 145, 250);
}

#checkBoxTask {
    float: right;
    margin-top: -63px;
    width: 40px;
    height: 40px;
    opacity: 45%;
    transition: 0.4s;
    cursor: pointer;
    accent-color: rgb(43, 201, 43);
}
#checkBoxTask:hover {
    opacity: 100%;
    transition: 0.4s;
}